@font-face {
    font-family: Athiti;
    src: url(Font/Athiti/Athiti-SemiBold.ttf);
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'Athiti';
    background-color: rgb(26, 26, 82);
    color: rgb(250, 248, 242);
    transition: .5s;
}
.burger{
    margin: 6px;
    padding: 6px;
    display: none;
    border: 2px solid rgb(250, 248, 242);
    border-radius: 16px;
}
.burger > div{
    width: 32px;
    height: 4px;
    background-color: rgb(250, 248, 242);
    margin: 6px 0;
    display: block;
}

.carousel,
.carousel-inner,
.carousel-item > img {
  height: 32vw;
}

.carousel-item > img {
  object-fit: cover;
}

.nav-item{
    display: inline-block;
    padding: 1.5%;
}

.info-container{
    padding: 5% 15% 5% 15%;
    background-color: rgb(30, 73, 138);
    font-size: 1.15em;
}
.info-container > div{
    margin-bottom: 5%;
}
.info-container > div:last-child{
    margin-bottom: 0%;
}

.headTitle{
    margin: 0;
    padding: 0;
    height: 32vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vw;
    position: relative;
    overflow: hidden;
}
.headTitle > img{
    position: absolute;
    opacity: .85;
}
.headTitle > div{
    z-index: 1;
    text-shadow: 10px 10px 20px rgb(33, 33, 126);
}

.flex-container{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.flex-container > div{
    width: 40%;
    padding: 5%;
    font-size: 1.15em;
}

td{
    vertical-align: top;
    height: 3em;
    font-size: 1.15em;
}

.imgStyle{
    border-radius: 70px;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.5);
}
.swap{
    order: 99;
}

.flex-container:nth-child(even){
    background-color: rgb(30, 73, 138);
    color: white;
}
.flex-container:nth-child(odd){
    background-color: rgb(101, 194, 223);
    color: black;
}

a { 
    color: inherit; 
    text-decoration: none;
} 

.dropmenu{
    position: absolute;
    z-index: 99;
    background-color: rgb(48, 88, 199);
    min-width: 25vw;
    overflow-x: hidden;
    border-right: 2px solid rgb(250, 248, 242);
    display: none;
}
.nav-item-drop{
    display: block;
    padding: 10px 15px;
    font-size: 1.15em;
    width: 100%;
    border-bottom: 2px solid rgb(250, 248, 242);
}

.button{
    padding: 2% 4%;
    background-color: rgb(236, 141, 17);
    color: black;
    width: fit-content;
    border-radius: 20px;
    transition: .25s;
}
.button:hover{
    background-color: rgb(236, 68, 17);
    color: white;
}

.scroll{
    transition: .5s;
    opacity: 0;
}

@media only screen and (max-width: 576px) {
    .burger{
        display: inline-block;
    }
    .nav-item{
        display: none;
    }
    .swap{
        order: 0;
    }
    .flex-container > div{
        font-size: 1em;
    }
    .info-container{
        font-size: 1em;
    }
    .flex-container{
        padding: 5% 0%;
    }
    .flex-container > div{
        width: 60%;
        padding: 2.5% 5%;
    }
    table{
        font-size: 1.5vw;
    }
}
@media only screen and (min-width: 576px) and (max-width: 991px) {
    .flex-container > div{
        font-size: 1em;
    }
    .info-container{
        font-size: 1em;
    }
    .profile{
        padding: 5% 0%;
    }
    .profile > div{
        width: 60%;
        padding: 2.5% 5%;
    }
}